*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backbutton{
  background: none;
  position: absolute;
  top: 5%;
  left: 2%;
}


.transition{
  position: absolute;
  top: 0;
  right: 0;
  /*width: 100%;*/
  width: 100%;
  height: 100%;
 /* /* background-image: linear-gradient(to bottom right, rgb(64, 146, 64), lightblue);* */
  /*z-index: 10;*/
}

.transition {
  background: linear-gradient(270deg, #22e7b4, #9222e7);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  z-index: 10;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}




section{
    height: 100vh;
    background: rgb(199, 199, 199);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

svg{
    cursor: pointer;
    position: absolute;
    top:5%;
    right:15%;
}

body{
    font-family: sans-serif;
}

#sun{
    /*background: black;*/
    background-color: black;
}

.darkMode{
    background-color: black;
}

/*h1{*/
h1.dark{
    position: absolute;
    top: 10%;
    right: 5%;
}


  main {
    font-family: "Heebo", sans-serif;
  }
  
  .landing {
    min-height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
  }
  .nav-links {
    display: flex;
    list-style: none;
  }
  .nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;
  }
  #logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
  }
  
  .big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: rgb(61, 61, 61);
  }
  
  .intro {
    /*background: black;*/
    /*background: rgb(199, 199, 199);*/
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    /*background: rgb(97, 105, 109);*/
    /*background-color: rgb(69, 103, 114);*/
    /*background-color: rgb(199, 199, 199);*/
    /*background-color: black;*/
    background-color: rgb(83, 122, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  
  .hide {
    background: black;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }

h1.because{
    color: rgb(199, 199, 199);
    background: none;
    position: absolute;
    top: 50%;
    right: 50%;
    visibility: hidden;
    font-style: italic;
}